<div class="h-100">
    <mat-tab-group>
        <mat-tab label="ADD CITY" class="h-100">
                    <app-city></app-city>
        </mat-tab>
        <!-- <mat-tab label="ADD Product Category" class="h-100">
         <app-product-category></app-product-category>
    </mat-tab>
    <mat-tab label="ADD Sub-Category" class="h-100">
        <app-product-subcategory></app-product-subcategory>
    </mat-tab> -->
    <mat-tab label="ADD Floor" class="h-100">
        <app-floor></app-floor>
    </mat-tab>
    <mat-tab label="ADD Shop Category" class="h-100">
        <app-shop-category></app-shop-category>
    </mat-tab>
    <mat-tab label="ADD CAM" class="h-100">
        <app-cam></app-cam>
    </mat-tab>
    <mat-tab label="ADD Rent" class="h-100">
        <app-rent></app-rent>
    </mat-tab>
    <mat-tab label="ADD Services" class="h-100">
        <app-services></app-services>
    </mat-tab>
    <mat-tab label="ADD Notes" class="h-100">
        <app-coa-notes></app-coa-notes>
    </mat-tab>
    
    
    </mat-tab-group>
    
</div>