<div class=" ">

        <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center" >
            <mat-tab label="Charts of Accounts" class="h-100">


              <mat-card class="container bg-light border p-5 mt-5 shadow">
                
                <div class="container d-flex col-lg-12  ">
                    <span class=" mt-3 pt-4 d-flex flex-column col-lg-6">
    
    
                        <!-- Coa Types Selected Here -->
                        
                            <mat-form-field appearance="outline" class=""> 
                                <mat-label >Select Type </mat-label>
                                <mat-select [(ngModel)]="CoaType"  (selectionChange)="onCoaTypeChange();noteEnable()"  Data-live-Search="true">
                                    <mat-option *ngFor="let item of coaTypesList "
                                        value="{{item.coaTypeID}}">{{item.coaTypeTitle}}</mat-option>
    
                                </mat-select>
                            </mat-form-field>
    
                       
                            <mat-form-field appearance="outline" class=""> 
                                <mat-label>Select Level</mat-label>
                                <mat-select (selectionChange)="setvalue();onCoaLevelChange()" [(ngModel)]="coaLevel" class="" #AccountHeadLabel >
                                    <mat-option *ngFor="let item of LevelList"
                                        [value]="item.value">{{item.level}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                      
                        <!-- Coa Level 1 Selected Here -->
                        
                            <mat-form-field appearance="outline" *ngIf="coaLevel > 1 " class=" ">
                                <mat-label>Level 1</mat-label>
                                <mat-select class=""  (selectionChange)="onlevel1Change();setvalue()" [(ngModel)]="level1"  >
                                    <mat-option *ngFor="let item of coaLevel1List" [value]="item.level1" [disabled]="item.transactionAllowed" >
                                        {{item.coaTitle}}   ({{item.level1}}) 
                                    </mat-option>
                                  
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" *ngIf="coaLevel == 1" class=" ">
                                <mat-label>Enter Level 1</mat-label>
                                <input class="numOnly" matInput type="text" min="1" #EnterLevel aria-label="level1" (keyup)="setvalue();numberOnly()"
                                   [(ngModel)]="level1" >
                                   <mat-hint>Must Be a Number</mat-hint>
                            </mat-form-field>
                       
                         <!-- Coa Level 2 Selected Here -->
                        
                            <mat-form-field appearance="outline" *ngIf="coaLevel > 2" class="">
                                <mat-label>Level 2</mat-label>
                                <mat-select class="" (selectionChange)="onlevel2Change();setvalue()" [(ngModel)]="level2"  >
                                    <mat-option *ngFor="let item of coaLevel2List" [value]="item.coaTypeID" [disabled]="item.transactionAllowed">
                                        {{item.coaTitle}} ({{item.level2}})
                                     </mat-option>
                                     
                                    
                                </mat-select>
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" *ngIf="coaLevel == 2" class="">
                                <mat-label>Enter Level 2</mat-label>
                                <input class="numOnly" matInput type="text" min="1"  #EnterLevel aria-label="level2" (keyup)="setvalue();numberOnly()"
                                   [(ngModel)]="level2" >
                                   <mat-hint>Must Be a Number</mat-hint>
                            </mat-form-field>
    
                                <!-- Coa level 3 Iput Field -->
                            <mat-form-field appearance="outline" *ngIf="coaLevel > 3" class="">
                                <mat-label>Level 3</mat-label>
                                <mat-select class=""   (selectionChange)="onlevel3Change();setvalue()" [(ngModel)]="level3" >
                                    <mat-option *ngFor="let item of coaLevel3List" [value]="item.coaTypeID" [disabled]="item.transactionAllowed">
                                        {{item.coaTitle}} ({{item.level3}})
                                    </mat-option>
                                    
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" *ngIf="coaLevel == 3" class="">
                                <mat-label>Enter Level 3</mat-label>
                                <input class="numOnly" matInput type="text" min="1"  #EnterLevel aria-label="level3"
                                  (keyup)="setvalue();numberOnly()"
                                   [(ngModel)]="level3" >
                                   <mat-hint>Must Be a Number</mat-hint>
                            </mat-form-field>
    
                       
                        <!-- Coa level 4 Iput Field -->
                     
    
                            <mat-form-field appearance="outline" *ngIf="coaLevel == 4" class="">
                                <mat-label>Enter Level 4</mat-label>
                                <input class="numOnly" matInput type="text" min="1" #EnterLevel aria-label="level4"
                                 (blur)="numberOnly()" 
                                 (keyup)="setvalue();numberOnly()"
                                 (keypress)="numberOnly()"
                                   [(ngModel)]="level4" >
                                   <mat-hint>Must Be a Number</mat-hint>
                            </mat-form-field>
                       
    
                    </span>
    
                    <span class="ms-4 col-lg-6 ">
                      
                            <h4>Account Head Label: {{AccountLabelHeadValue}}</h4>
    
                       
                    
    
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter Head Title</mat-label>
                                <input matInput type="text" [(ngModel)]="CoaTitle" autofocus>
                            </mat-form-field>
    
    
                       
                 
                            <div>
                                <h1 class="text-danger mt-3">Is Transaction Allowed in this head?</h1>
                            <mat-checkbox class="example-margin" [(ngModel)]="TransactionAllowed" 
                             *ngFor="let item of Allow" value="{{item.value}}" (change)="noteEnable()">
                                {{item.text}}
                            </mat-checkbox>
                            </div>
                           
                            
                      
                
                        <mat-form-field  appearance="outline"  class="w-100 mt-2">
                            <mat-label>Enter Note</mat-label>
                            <mat-select [disabled]="disableNote " [(ngModel)]="NoteID" >
                                <mat-option *ngFor="let item of notesList" [value]="item.noteID">{{item.noteTitle}}</mat-option>
                            </mat-select>
                            
                               <mat-hint>Must Be a Number</mat-hint>
                        </mat-form-field>
                    </span>
    
    
                </div>
    
    
    
            <!-- Save And Reset Button -->
            <br><br>
            <div class=" text-center">
                <button class="btn btn-success col-md-1 ml-10" (click)="Save()">{{actionbtn}}</button>
    
    
                <button class="btn btn-danger col-md-1 ml-10" (click)="reset()" >Reset</button>
            </div>
              </mat-card>
               

            </mat-tab>

                       <!-- -------------------------Saved Record Tab------------------------ -->
            <mat-tab label="Saved Record" class="h-100">
                <div class="pt-4 container ">

                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label class="ps-5">Search.....</mat-label>
                        <input [(ngModel)]="txtSearch" matInput type="search" class="text-secondary">
                        <mat-icon matPrefix class="text-secondary">search</mat-icon>
                    </mat-form-field>
                
                    <table class="text-center table table-hover bg-light">
                        <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Account Code</th>
                                <th>Account Title</th>
                                <th>Type</th>
                                <th>Note</th>
                                <th>
                                    Transaction Allowed
                                </th>
                                <th>Action</th>
        
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr  *ngFor="let item of ChartsofAccountsData | filter : txtSearch; let i=index" >
                                <td>{{i+1}}</td>
                                <td class="cursorPointer" (click)="updateCoa(item)">{{item.accountCode}}</td>
                                <td>{{item.coaTitle}}</td>
                                <td>{{item.coaTypeTitle}}</td>  
                                <td>{{item.noteID}}</td>  

                                <td *ngIf="item.transactionAllowed == true"><mat-icon class="text-success" >remove_circle</mat-icon></td>   
                                <td *ngIf="item.transactionAllowed == false"><mat-icon class="text-danger" >remove_circle</mat-icon></td>   
                                <td >
                                    <!-- <button class="btnTransparent text-success"><mat-icon >edit</mat-icon></button> -->
                                    <button class="btnTransparent text-danger" (click)="deleteCoa(item)"><mat-icon >delete</mat-icon></button>
                                </td>
                             
        
                            </tr>
                           
                        </tbody>
                    </table>
        
                </div>


  
        
            </mat-tab>
        </mat-tab-group>
    
        
    </div>
