<div >

    <div class="text-center  mt-3 d-flex justify-content-between p-3"><p class="dialogueTitle">ADD Floor</p><mat-icon class="cursorPointer" (click)="closeDialogue()">cancel</mat-icon></div>

    <div class="text-center container-fluid " >
        <mat-form-field class="w-100" appearance="outline">
        <mat-label>Floor Name</mat-label>
        <input matInput type="text" [(ngModel)]="floorName">
        </mat-form-field>

        
    </div>
    <div class="justify-content-center d-flex" >
        <button class="btn btn-success m-1" (click)="addFloor()" accesskey="s"><mat-icon class="pt-1"  >save</mat-icon> {{actionbtn}} </button>
        <button class="btn btn-danger m-1 " (click)="reset()"><mat-icon class="pt-1">cached</mat-icon> Reset </button>
    </div>
</div>
