<body class="container-fluid h-100 " >
    <div class="box">
        <span class="borderline"></span>
    
        <form class="shadow">
                <h1 class="text-center text-dark">SIGN-IN</h1>
                <h4 class="text-center text-muted">Welcome</h4>
                <div class="mt-5">
                    <mat-form-field class="input-width">
                        <mat-label>Login ID</mat-label>
                        <input type="text" autofocus class="input-full-width" matInput name="UserId"  [(ngModel)]="userEmail">
                    </mat-form-field>
                    
                </div>
                <div class="mt-3"> 
                    <mat-form-field class="input-width">
                        <mat-label>Password</mat-label>
                        <input type="password" class="input-full-width" matInput name="password"  [(ngModel)]="userPassword">
                    </mat-form-field>
                    
                </div>
                <div class="text-center">
                    <button (click)="login()" class="btn btn-success">Log in</button>
                </div>
               <hr class="mt-4 ">
                <div class="text-center mt-1 logix " >
                    <span class="text-muted">Software By: </span>
                    <span class="fw-bold text-muted">Logix Solutionz</span>
                </div>
                
    </form>
    
    </div>
</body>
