<div class="bg-white p-5">
    
    <div class="text-center border w-50  bg-light container-fluid pt-5">
        <div class="text-end " ><button style="background: transparent;border: none;" class=" border-bottom" accesskey="n" (click)="OpenDialogue()"><mat-icon class="pt-1">
            add</mat-icon>  ADD NEW Floor</button></div>
            <br>
        <table class="table table-hover h-100"> 
            <thead>
                <th>S#</th>
                <th>Floor Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody >
                <tr *ngFor="let item of FloorsData;index as index">
                    <td>{{index+1}}</td>
                    <td>{{item.shopFloorName}}</td>
                    <td><mat-icon class="text-success cursorPointer" (click)="editFloor(item)">edit</mat-icon></td>
                    <td><mat-icon class="text-danger cursorPointer" (click)="deleteFloor(item)" >delete</mat-icon></td>
                </tr>
            </tbody>
        </table>
    
    </div>
