<mat-tab-group>
    <mat-tab label="Voucher Form " >
        <div class="container mt-2 Voucher">



            <div class="container-fluid  mt-3">

                <!-- --------------------First Row-------------- -->
                <div class="pform row col-lg-12 col-md-12 col-sm-12 col-xs-12">


                    <!-- --------------------voucher Type selected here-------------- -->

                    <mat-form-field class="col-lg-6 col-md-6 col-sm-6 col-xs-6" appearance="outline">
                        <mat-label>Select Voucher Type </mat-label>
                        <mat-select [(ngModel)]="vType" name="vType"  [disabled]="VoucherData != ''"
                            (selectionChange)="getCoa();
                            getRefCoa();">
                            <mat-option *ngFor="let item of voucherTypes "
                                value="{{item.value}}">{{item.type}}</mat-option>

                        </mat-select>
                    </mat-form-field>





                    <!-- --------------------voucher DAte selected here-------------- -->



                    <mat-form-field class="col-lg-6 col-md-6 col-sm-6 col-xs-6" appearance="outline">
                        <mat-label>Select Voucher Date</mat-label>
                        <input readonly="true" matInput   [(ngModel)]="invoiceDate"
                            [matDatepicker]="picker" >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>





                </div>
                <hr>

                <!-- --------------------Second Row-------------- -->

                <div class="pform row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="align-items: center;">

                    <!-- --------------------Bank Select Area-------------- -->


                    <mat-form-field class="col-lg-5 col-md-5 col-sm-5 col-xs-5" appearance="outline">
                        <mat-label>Select Refrence COA </mat-label>
                        <mat-select [(ngModel)]="refrenceCOA" [disabled]="vType == 'JV'">
                            <mat-option *ngFor="let item of refCoaList " value="{{item.coaID}}">{{item.coaTitle}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    


                     <!---------------       Bank Receipt No    ---------------------->

                    <mat-form-field class=" col-lg-2 col-md-2 col-sm-2 col-xs-2" appearance="outline">
                        <mat-label>Bank Receipt No</mat-label>
                        <input matInput [(ngModel)]="bankReceiptNo" [defaultValue]="0" type="text">
                    </mat-form-field>

                </div>



                <div class="container-fluid py-2 col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-light border ">
                    <div class="col-lg-12 row fw-bold mt-4">
                        <span class="col-lg-5 ">Account Title</span>
                        <span class="col-lg-3 text-end">Debit</span>
                        <span class="col-lg-3 text-end">Credit</span>
                    </div>
                    <!-- --------------------Third row-------------- -->
                    <div class=" row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- -------------------Coa Account Select Area-------------- -->



                        <mat-form-field class="col-lg-5 col-md-5 col-sm-5 col-xs-5 " appearance="outline">
                            <mat-label>Select COA Title </mat-label>
                            <mat-select id="cTitle" class="cTitle" [(ngModel)]="COATitleID" name="coaTitle"
                                accesskey="c">
                                <mat-option><ngx-mat-select-search [(ngModel)]="coaSearch"
                                        [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'Not found'"
                                        name="search"></ngx-mat-select-search></mat-option>
                                <mat-option *ngFor="let item of CoaList | filter:coaSearch "
                                    [value]="item.coaID">{{item.coaTitle}} - ({{item.accountCode}})</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <!-- -------------------Debit amount Enter Area-------------- -->

                        <mat-form-field class=" col-lg-3 col-md-3 col-sm-3 col-xs-3" appearance="outline">

                            <input class="text-end" matInput [(ngModel)]="DebitAmount" (keydown)="changeValue($event)" [defaultValue]="0"
                                type="number" min="0" [disabled]="vType == 'CRV' || vType == 'BRV'">
                        </mat-form-field>
                        <!-- -------------------Credit amount Enter Area-------------- -->


                        <mat-form-field class=" col-lg-3 col-md-3 col-sm-3 col-xs-3 " appearance="outline">

                            <input class="text-end" matInput [(ngModel)]="CreditAmount" [defaultValue]="0"
                                (keydown)="changeValue($event)" type="number" min="0" [disabled]="vType == 'CPV' || vType == 'BPV'">
                        </mat-form-field>

                        <!-- -------------------Save Icon Button-------------- -->
                        <div class="form-field col-lg-1 col-md-1 col-sm-1 col-xs-1 text-start ">
                            <button style="height: 60px; width: 50px;" class="btn btn-success" type="button" (click)="save()">
                                <mat-icon class="mat-icon-rtl-mirror" >save</mat-icon>
                            </button>
                           
                        </div>

                        <!-- -------------------Table Area -------------- -->

                        <table class=" table  mt-3 cursorPointer">

                            <thead>
                                <tr class="col-lg-12 font-size">
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">S#</th>
                                    <th class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Title</th>
                                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Debit Amont</th>
                                    <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Credit Amount</th>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Action</th>

                                </tr>
                            </thead>



                            <tbody>

                                <tr *ngFor="let item of VoucherData, ;index as index ">
                                    <td class="">{{index+1}}</td>
                                    <td class="">{{item.title}}</td>
                                    <td class="">{{item.Debit |number}}</td>
                                    <td class="">{{item.Credit |number}}</td>
                                    <td class=" "><mat-icon class=" text-danger "
                                        (click)="deleteRow(item)">delete</mat-icon></td>

                                </tr>
                                <tr *ngIf="VoucherData != ''" class="fw-bold bg-light">
                                    <td></td>
                                    <td> Total</td>
                                    <td>{{debittotal |number}}</td>
                                    <td>{{creditTotal |number}}</td>
                                    <td></td>

                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
                <br>
                <div class="bg-light">
                    <mat-form-field class="w-100 h-25 p-3 " appearance="outline">
                        <mat-label>Narration</mat-label>
                        <textarea matInput [(ngModel)]="narration" name="Narration" placeholder="Narration"></textarea>
                    </mat-form-field>
                </div>
                <div style="text-align: center;font-size: 30px;">
                    <input type="button" id="save" class="btn btn-danger col-lg-6 " value="Save"
                        (click)="insertVoucher()">
                </div>
            </div>
            
        </div>


        <!-------------------     Invoice Print Section ------------------------->

        <div class="d-none" id="afterSavePrint">
            <div class="text-end ">{{lblVoucherPrintDate |date:'short'}}</div>
            <div class="mt-2">
                
                <!-------------------------    Top Logo Section -------------------->
                <div class="text-center border-bottom d-flex justify-content-between">
                    <span>
                        <img src="{{logo}}" style="color: black;" alt="" srcset="" height="100"
                            width="120">
                    </span>
                    <span class="mt-3">
                        <h3>{{companyName}}</h3>
                            <p class="text-end" style="margin-top: -15;">{{companyName2}}</p>
                        <p style="margin-top: -20;">{{companyAddress}}</p>
                        <p style="margin-top: -15;">Phone No: {{companyPhoneNo}}</p>
                    </span>
                    <span>
                        <img src="{{logo1}}" style="color: black;" alt="" srcset="" height="100"
                            width="100">
                    </span>
            
            
                </div>
        

                <!-------------------------- Headers Area   ----------------------->
               <div class="d-flex">
                <div class="row mt-5"  >

                    <b class="row">
                    <h6>Invoice No:</h6>
                    <h6>Invoice Date:</h6>
                    <h6>Narration:</h6>
                    </b>

                </div>
                <div class="row mt-5" >

                    <p>{{lblInvoiceNo}}</p>
                    <p>{{lblInvoiceDate | date:'yyyy-MM-dd'}}</p>
                    <p>{{lblRemarks}}</p>
                    

                </div>
               </div>

               <!-----------------------   Print Table Area --------------------->

               <div>
                <table class="table">
                    <thead>
                        
                        <th>S#</th>
                        <th>Description</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of invoiceDetails; index as index">
                            <td>{{index+1}}</td>
                            <td>{{item.coaTitle}} ({{item.accountCode}})</td>
                            <td>{{item.debit |number}}</td>
                            <td>{{item.credit |number}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Total</b></td>
                            <td><b>{{lblDebitTotal |number}}</b></td>
                            <td><b>{{lblCreditTotal |number}}</b></td>
                        </tr>
                    </tbody>
                </table>
               </div>


               <div class="d-flex justify-content-between mt-5 pt-5">
                <h5 *ngIf="lblVoucherType == 'CPV' || lblVoucherType == 'BPV'" class="border-bottom border-dark">Received BY</h5>
                <h5 class="border-bottom border-dark">Created BY</h5>
                <h5 class="border-bottom border-dark">Approved BY</h5>
                <h5 class="border-bottom border-dark">Checked BY</h5>
               </div>
        
        
        
            </div>
        </div>
    </mat-tab>





    <!----------------------         Saved Record Section ---------------->

    <mat-tab label="Saved Record">

        <div class="container-fluid text-center p-2">


           

           
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Search.....</mat-label>
                  <input matInput [(ngModel)]="txtSearch"  type="text"    #input>
                  <mat-icon matSuffix class="text-secondary">search</mat-icon>
                  
                </mat-form-field>

                <mat-progress-bar mode="indeterminate" *ngIf="loadingBar == 'start'"></mat-progress-bar>


           
                

            <table class="col-lg-12  table table-hover bg-light">

                <thead>
                    <tr class="col-lg-12">
                        <th class="col-lg-1">S#</th>
                        <th class="col-lg-1">Inv.#</th>
                        <th class="col-lg-1">Date</th>

                        <th class="col-lg-1">Party</th>
                        <th class="col-lg-1">Amount</th>
                        <th class="col-lg-3">Narration</th>
                        <th class="col-lg-1">Detail</th>
                        <th class="col-lg-1">Actions</th>
                   

                    </tr>
                </thead>
                <tbody>

                    <tr class="cursorPointer" *ngFor="let item of SavedVoucherData |filter:txtSearch |paginate:{ id:'voucherData', itemsPerPage : tableSize,currentPage : page, totalItems : count, }; index as index">

                        <td>{{index+1}}</td>
                        <td> {{item.invoiceNo}}</td>
                        <td>{{item.invoiceDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{item.partyName}}</td>
                        <td>{{item.amount |number}}</td>
                        <td class="text-start">{{item.invoiceRemarks}}</td>
                        <td ><mat-icon class="text-success" data-bs-toggle="modal" data-bs-target="#invoiceDetailModel" 
                            (click)="getInvoiceDetail(item.invoiceNo)" >receipt</mat-icon></td>
                        <td ><mat-icon class="text-success" *ngIf="item.approvedStatus == false && RoleID == 1" (click)="approveBill(item)">check</mat-icon>
                        <mat-icon *ngIf="item.approvedStatus == true" aria-label="Approved" class="text-success" >done_all</mat-icon>
                        <mat-icon class="text-danger" *ngIf="RoleID == 1" (click)="DeleteVoucher(item)">delete</mat-icon>
                        <mat-icon class="text-primary" (click)="printBill(item)">print</mat-icon></td>

                    </tr>
                </tbody>

            </table> 

            <div class="d-flex">
                <mat-hint class="me-1 text-secondary">Total Rows : ({{SavedVoucherData.length}})    </mat-hint>
                <pagination-controls
                id="voucherData"
                previousLabel="Prev"
                nextLabel="Next"
            
                
                (pageChange)="onTableDataChange($event)"
                
                ></pagination-controls>
                

                <mat-hint class=" me-1 text-secondary">Rows Per Page </mat-hint>
                <select class="text-white"  style="width: 50px; height: 25px;background-color: rgb(75, 164, 248);" (change)="onTableSizeChange($event)">
                    <option *ngFor=" let item of tableSizes" [selected]="tableSize == item">{{item}}</option>
                </select>
                
            </div>

        </div>



        <!--------------------------  Modal Window to check invoice Details ----------------------->


        <div class="modal fade h-100 bg-light " id="invoiceDetailModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
            <div class="modal-dialog modal-xl modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="exampleModalLabel">Voucher Details</h2>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
               <!----------------------- Table Area --------------------->

               <div>
                <table class="table">
                    <thead class="border-bottom">
                        
                        <th>S#</th>
                        <th>Description</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of invoiceDetails; index as index">
                            <td>{{index+1}}</td>
                            <td>{{item.coaTitle}} ({{item.accountCode}})</td>
                            <td>{{item.debit |number}}</td>
                            <td>{{item.credit |number}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Total</b></td>
                            <td><b>{{lblDebitTotal |number}}</b></td>
                            <td><b>{{lblCreditTotal |number}}</b></td>
                        </tr>
                    </tbody>
                </table>
               </div>
                   
        
        
                </div>
                
              </div>
            </div>
          </div>


        <!-------------------     Invoice Print Section ------------------------->

        <div class="d-none InvociePrint" id="InvociePrint">
            <div class="text-end ">{{lblVoucherPrintDate |date:'short'}}</div>
            <div class="mt-2">
                
                <!-------------------------    Top Logo Section -------------------->
                <div class="text-center border-bottom d-flex justify-content-between">
                    <span>
                        <img src="{{logo}}" style="color: black;" alt="" srcset="" height="100"
                            width="120">
                    </span>
                    <span class="mt-3">
                        <h3>{{companyName}}</h3>
                            <p class="text-end" style="margin-top: -15;">{{companyName2}}</p>
                        <p style="margin-top: -20;">{{companyAddress}}</p>
                        <p style="margin-top: -15;">Phone No: {{companyPhoneNo}}</p>
                    </span>
                    <span>
                        <img src="{{logo1}}" style="color: black;" alt="" srcset="" height="100"
                            width="100">
                    </span>
            
            
                </div>
        

                <!-------------------------- Headers Area   ----------------------->
               <div class="d-flex">
                <div class="row mt-5"  >

                    <b class="row">
                    <h6>Invoice No:</h6>
                    <h6>Invoice Date:</h6>
                    <h6>Narration:</h6>
                    </b>

                </div>
                <div class="row mt-5" >

                    <p>{{lblInvoiceNo}}</p>
                    <p>{{lblInvoiceDate | date:'yyyy-MM-dd'}}</p>
                    <p>{{lblRemarks}}</p>
                    

                </div>
               </div>

               <!-----------------------   Print Table Area --------------------->

               <div>
                <table class="table">
                    <thead>
                        
                        <th>S#</th>
                        <th>Description</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of invoiceDetails; index as index">
                            <td>{{index+1}}</td>
                            <td>{{item.coaTitle}} ({{item.accountCode}})</td>
                            <td>{{item.debit |number}}</td>
                            <td>{{item.credit |number}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Total</b></td>
                            <td><b>{{lblDebitTotal |number}}</b></td>
                            <td><b>{{lblCreditTotal |number}}</b></td>
                        </tr>
                    </tbody>
                </table>
               </div>

               

               <div class="d-flex justify-content-between mt-5 pt-5">
                <h5 *ngIf="lblVoucherType == 'CPV' || lblVoucherType == 'BPV'" class="border-bottom border-dark">Received BY</h5>
                <h5 class="border-bottom border-dark">Created BY</h5>
                <h5 class="border-bottom border-dark">Approved BY</h5>
                <h5 class="border-bottom border-dark">Checked BY</h5>
               </div>
        
        
        
            </div>
        </div>

    </mat-tab>
</mat-tab-group>









