<div>

    <div class="row container-fluid justify-content-center  p-3 border-bottom">
                    

              
        <mat-form-field class="w-25" appearance="outline">
            <mat-label>From Date</mat-label>
            <input matInput type="text" [(ngModel)]="fromDate" [matDatepicker]="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

    
        <mat-form-field class="w-25" appearance="outline">
            <mat-label>To Date</mat-label>
            <input matInput type="text" [(ngModel)]="toDate" [matDatepicker]="EndDate">
            <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
            <mat-datepicker #EndDate></mat-datepicker>
        </mat-form-field>


    <div class="w-25 text-end" >
        <button class="fw-bold btn btn-primary me-3 btn-rpt" style="width: 150px;" (click)="getVouchers()">
           Get Vouchers
        </button>
        
    
     
    </div>




</div>


<div class="container">
    <table class="col-lg-12  table table-hover bg-light">

        <thead>
            <tr class="col-lg-12">
                <th class="col-lg-1">S#</th>
                <th class="col-lg-1">Inv.#</th>
                <th class="col-lg-1">Date</th>

                <th class="col-lg-1">Party</th>
                <th class="col-lg-1">Amount</th>
                <th class="col-lg-3">Narration</th>
                <th class="col-lg-1">Detail</th>
                <th class="col-lg-1">Approve</th>
                <th class="col-lg-1">Delete</th>
                <th class="col-lg-1">Print</th>
           

            </tr>
        </thead>
        <tbody>

            <tr class="cursorPointer" *ngFor="let item of voucherList  ; index as index">

                <td>{{index+1}}</td>
                <td> {{item.invoiceNo}}</td>
                <td>{{item.invoiceDate | date:'yyyy-MM-dd'}}</td>
                <td>{{item.partyName}}</td>
                <td>{{item.amount |number}}</td>
                <td class="text-start">{{item.invoiceRemarks}}</td>
                <td ><mat-icon class="text-success" data-bs-toggle="modal" data-bs-target="#invoiceDetailModel" 
                    (click)="getInvoiceDetail(item.invoiceNo)" >receipt</mat-icon></td>
                <td >
                    <mat-icon class="text-danger" *ngIf="item.approvedStatus == false " (click)="approveBill(item)">check</mat-icon>
                <mat-icon *ngIf="item.approvedStatus == true" aria-label="Approved" class="text-success" >done_all</mat-icon>
            </td>
                <td > <mat-icon class="text-danger"  (click)="DeleteVoucher(item)">delete</mat-icon></td>
                <td ><mat-icon class="text-primary" (click)="printBill(item)">print</mat-icon></td>

            </tr>

            <tr *ngIf="voucherList == ''" >
                <th class="text-center" colspan="10">No Data Available!</th>
            </tr>
        </tbody>

    </table>





    <!--------------------------  Modal Window to check invoice Details ----------------------->


    <div class="modal fade h-100 bg-light " id="invoiceDetailModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">Voucher Details</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
           <!----------------------- Table Area --------------------->

           <div>
            <table class="table">
                <thead class="border-bottom">
                    
                    <th>S#</th>
                    <th>Description</th>
                    <th>Debit</th>
                    <th>Credit</th>
                
                </thead>
                <tbody>
                    <tr *ngFor="let item of invoiceDetails; index as index">
                        <td>{{index+1}}</td>
                        <td>{{item.coaTitle}} ({{item.accountCode}})</td>
                        <td>{{item.debit |number}}</td>
                        <td>{{item.credit |number}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total</b></td>
                        <td><b>{{lblDebitTotal |number}}</b></td>
                        <td><b>{{lblCreditTotal |number}}</b></td>
                    </tr>
                </tbody>
            </table>
           </div>
               
    
    
            </div>
            
          </div>
        </div>
      </div>


        <!-------------------     Invoice Print Section ------------------------->

        <div class="d-none InvociePrint" id="InvociePrint">
            
            <div class="mt-2">
                
                <!-------------------------    Top Logo Section -------------------->
                <div class="text-center border-bottom d-flex justify-content-between">
                    <span>
                        <img src="{{logo}}" style="color: black;" alt="" srcset="" height="100"
                            width="120">
                    </span>
                    <span class="mt-3">
                        <h3>Mehria Mall & Residencia</h3>
                            <p class="text-end" style="margin-top: -15;">Mehria Town Pvt.(Ltd)</p>
                        <p style="margin-top: -20;">Kamra Road Attock</p>
                        <p style="margin-top: -15;">Phone No: 057-2364801-2</p>
                    </span>
                    <span>
                        <img src="{{logo1}}" style="color: black;" alt="" srcset="" height="100"
                            width="100">
                    </span>
            
            
                </div>
        

                <!-------------------------- Headers Area   ----------------------->
               <div class="d-flex">
                <div class="row mt-5"  >

                    <b class="row">
                    <h6>Invoice No:</h6>
                    <h6>Invoice Date:</h6>
                    <h6>Narration:</h6>
                    </b>

                </div>
                <div class="row mt-5" >

                    <p>{{lblInvoiceNo}}</p>
                    <p>{{lblInvoiceDate | date:'yyyy-MM-dd'}}</p>
                    <p>{{lblRemarks}}</p>
                    

                </div>
               </div>

               <!-----------------------   Print Table Area --------------------->

               <div>
                <table class="table">
                    <thead>
                        
                        <th>S#</th>
                        <th>Description</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of invoiceDetails; index as index">
                            <td>{{index+1}}</td>
                            <td>{{item.coaTitle}} ({{item.accountCode}})</td>
                            <td>{{item.debit}}</td>
                            <td>{{item.credit}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Total</b></td>
                            <td><b>{{lblDebitTotal}}</b></td>
                            <td><b>{{lblCreditTotal}}</b></td>
                        </tr>
                    </tbody>
                </table>
               </div>


               <div class="d-flex justify-content-between mt-5 pt-5">
                <h5 class="border-bottom">Created BY</h5>
                <h5 class="border-bottom">Approved BY</h5>
                <h5 class="border-bottom">Checked BY</h5>
               </div>
        
        
        
            </div>
        </div>
</div>

    
</div>
