<div class="container p-5">
    <div >
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Old Pin</mat-label>
            <input matInput  [(ngModel)]="oldPin" >
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>New Pin</mat-label>
            <input matInput  [(ngModel)]="newPin" >
        </mat-form-field>
    </div>

    <div class="text-center">
        <button class="btn btn-primary me-3" (click)="changePin()">Save</button>
        <button class="btn btn-danger" (click)="close()">Close</button>
    </div>
</div>
