<div class="container-fluid">

    <!-- ////////////////////////// first row////////////////// -->
    <div class="mt-2">
        <mat-card class="d-flex mb-2 ps-3 pe-3">


            <div class="d-flex justify-content-between">


                <div class="w-50 p-4 d-flex flex-column">
                    
                    <input type="text" name="searchProduct" id="searchProduct"
                        class="border-0 p-1 mb-2 border-bottom border-success" placeholder="Search Shop"
                        autofocus>

                    <div class="w-100 d-flex flex-column SearchConatiner cursorPointer">
                        <mat-card>
                            <a>
                                <b></b> </a>
                        </mat-card>
                    </div>
                </div>

                <div class="pt-3 w-100 text-end">
                    <button class=" w-25 btn btn-success">Save</button>
                </div>

            </div>



        </mat-card>
    </div>



    <!-- ////////////////////////// Table Row////////////////// -->


        <div style="height: 400px;" class="border  rounded table-Card">

            <table class="table " id="">
                <thead class="text-center tableHead">

                </thead>

                <tbody  class="text-center">




                </tbody>
            </table>

        </div>
    

    <!-- //////////////////////////Row 3////////////////// -->


    <div class="mt-2 pe-3">

        <div>
            <div class="d-flex flex-inline">

                <!-- //////////////////////first Column/////////////////////// -->
                <mat-card class="d-flex flex-column me-2 col-lg-4 p-2">

                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>Select Invoice Date</mat-label>
                        <input readonly="true" matInput type="text" name="voucherDate" [matDatepicker]="voucherDate">
                        <mat-datepicker-toggle matSuffix [for]="voucherDate"></mat-datepicker-toggle>
                        <mat-datepicker #voucherDate></mat-datepicker>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="outline" class="w-50">
                        <mat-label>Reference Invoice No.</mat-label>
                        <input matInput type="text" name="refInvNo">
                    </mat-form-field> -->
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>Remarks.</mat-label>
                        <input matInput type="text" name="refInvNo">
                    </mat-form-field>


                </mat-card>

                <!-- //////////////////////Second Column/////////////////////// -->
                <mat-card class="d-flex flex-column border-0 border-start col-lg-4 me-2 p-2">

                    <!-- <mat-form-field appearance="outline">
                        <mat-label>Select Party</mat-label>
                        <mat-select name="customer">
                            <mat-option>demo</mat-option>
                        </mat-select>
                    </mat-form-field> -->

                <mat-label class="h3">Customer Details</mat-label>

                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-column ">
                            <label class="pt-2">Address :</label>
                            <label class="pt-2">City :</label>
                            <label class="pt-2">Mobile No. :</label>
                            <label class="pt-2">CNIC :</label>

                        </div>
                        <div class="d-flex flex-column ">

                            <label class="pt-2"></label>
                            <label class="pt-2"></label>
                            <label class="pt-2"></label>
                            <label class="pt-2"></label>


                        </div>
                    </div>



                </mat-card>


                <!-- //////////////////////Third Column/////////////////////// -->
                <mat-card class="d-flex flex-column border-0 border-start col-lg-4 me-2 p-2  ">


                    <div class="p-2 pt-3  text-center">
                        <h2 class="text-secondary display-2">Total</h2>
                        <h1 style="font-size: 80px;" class=" text-danger">0</h1>
                    </div>

                </mat-card>
            </div>
        </div>



    </div>




</div>